# Backend
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/heychat?retryWrites=true&w=majority&appName=Cluster0
PORT=5001
JWT_SECRET=your_jwt_secret
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Frontend
VITE_API_URL=http://localhost:5001/api/
VITE_SOCKET_URL=http://localhost:5001
